<h3 class='text-center text-info mt-3'><%= @article.title %></h3>

<div class='row'>
  <div class='col-md-8'>
    <p><%= @article.text %></p>
  </div>
  <div class='col-md-4'>
    <%= image_tag('photo.png', class: 'card-img-top') %>
  </div>
</div>

<%= link_to 'Back', articles_path, class: 'btn btn-light' %>
<hr/> 

<h4>Comments:</h4>

<div id='comments' data-article-id="<=% @article.id %>">
  <%= render @article.comments %>
</div>

<%= form_with url: '#', html: {id: 'new-comment'} do |f| %>
  <%= f.text_area :body, id: 'comment-body', placeholder: 'Write a comment', rows: 3, class: 'form-control input-field' %>
  <%= f.submit 'Comment', class: 'btn btn-outline-info mt-2' %>
<% end %>
